@media screen and (max-width:768px ) {

    // Side bar
    .side-bar-Container {
        position: absolute;
        left: -250px;
        transition: .3s easy;
        .active{
            width: 100%;
        }
    }
    .navbar-section{
        .container{
            flex-direction: row-reverse;
            justify-content: flex-end;
            .left-side {
                display: none;
            }
            .navbar-title {
                display: none;
            }
        } 
    }
        

    // main section
    .main {
        position: relative;
        width: 100% ;
        left: 0px ;

        @media screen and (min-width:580px) and (max-width:768px ) {
            .dashboard-cards{
                .dashboard-card{
                    width: 47% !important;
                }
            }
        }

        .dashboard-cards, .statistics-cards,.invoice-cards,.client-cards ,.sales-cards {
            flex-wrap: wrap;

            .dashboard-card, .statistics-card, .invoice-card, .client-card {
                width: 100%;
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
            }
            .dashboard-card{
                justify-content: space-between;
                padding: 40px;
            }
        }
        .statistics-cards .statistics-card .absent-cards .absent-card {
            width: auto;
        }
        .sales-cards .sales-card{
            width: 100%;
                #myChart {
                height: 158px;
            }
        }
        .growth-cards {
            flex-wrap: wrap;
            overflow: hidden;
            .growth-card {
                box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.2);
                width: 100%;
            }
        }
    }
    .main .active{
        position: absolute;
        width: 100%;
        left: 0px ;
    }

    // ========== employee Page ===============

    .main{
        .work-detail {
            flex-direction: column;
            gap: 24px;
            .work-card {
                .welcome-card {
                    width: auto;
    
                }
                .statstics-card {
                    width: auto;
                }
            }
        }

        //  ===== notification =======
        .main .notification-card .notification-tab .tablinks{
            position: relative;
        }

        .policy-cards {
            flex-wrap: wrap;
            gap: 24px;
        }
        
    }
    .deals-cards .deals-card .card .deal-header .dropdown {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        justify-content: end;
    }
}
